body {
    font-family: 'Times New Roman', Times, serif;
    width: 95%;
    font-size: 18px;
}

nav {
    width: 150px;
    height: 900px;
    border-right: solid black 1px;
    margin-right: 15px;
    float: left;
}

section {
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    text-align: center;
}